<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

   <a style="margin-left: 20px;" class="navbar-brand" href="home">ForgotSomething</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="justify-content: space-between;display:flex;align-items: center;">
    <div class="navbar-nav" >
      <a class="nav-item nav-link active" href="home">Products </a>
      <a class="nav-item nav-link" href="cart">Carts</a>
      <a class="nav-item nav-link" href="#">Orders</a>
      
    </div>
    <div>
        <div class="dropdown">
            <button
              class="btn btn-primary dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
            >{{#if userdetails}}
               {{!-- {{userdetails.name}} --}}
               Account
              {{else}}
                Account
              {{/if}}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" href="/user/signout">Signout</a></li>
              
            </ul>
      </div>
    </div>
  </div>
</nav>
</header>