
<div class="container">
        <div>
            <br>
            <h2>Add product</h2>
            <br>

                <form action="addproduct" method="POST" enctype="multipart/form-data">
                <br>
                        <div class="form-outline">
                            <input type="text" name="productname" id="form1" class="form-control" />
                            <label class="form-label" for="form1">Product Name</label>
                        </div>
                        <br>
                        <div class="form-outline">
                            <input type="text" name="productprice" id="form1" class="form-control" />
                            <label class="form-label" for="form1">Price</label>
                        </div>
                        <br>
                        <div class="form-outline">
                            <input type="text" name="productdesc" id="form1" class="form-control" />
                            <label class="form-label" for="form1">Description</label>
                        </div>
                        <br>
                        <div class="form-outline">
                            <input type="text" name="address" id="form1" class="form-control" />
                            <label class="form-label" for="form1">Address</label>
                        </div>
                        <br>
                        <div class="form-outline">
                            <input type="text" name="location" id="form1" class="form-control" />
                            <label class="form-label" for="form1">Location</label>
                        </div>
                        <br>
                        <div class="form-outline">
                            <input type="file" name="image" id="image" accept=".jpg,.png">
                            <label class="form-label" for="form1">Choose image</label>
                        </div>
                        
                        <br>
                       
                    </div>
                    <br>
                <button type="submit" class="btn btn-dark container " >Add Product</button>
        </form>
    </div>
</div>

