

<div class="container">
        <div>
                <form action="signup" method="POST">
                <br>
                <h2>Register</h2>
                <br>
                        <div class="form-outline">
                            <input type="text" name="name" id="form1" class="form-control" required />
                            <label class="form-label" for="form1">Name</label>
                        </div>
                        <br>
                        <div class="form-outline">
                            <input type="text" name="email" id="form1" class="form-control" required/>
                            <label class="form-label" for="form1">Email</label>
                        </div>
                        <br>
                        <div class="form-outline">
                            <input type="text" name="phone" id="form1" class="form-control" required/>
                            <label class="form-label" for="form1">Phone</label>
                        </div>
                        <br>
                        <div class="form-outline">
                            <input type="text" name="address" id="form1" class="form-control" required/>
                            <label class="form-label" for="form1">Address</label>
                        </div>
                        <br>
                        <div class="form-outline">
                            <input type="text" name="location" id="form1" class="form-control" required/>
                            <label class="form-label" for="form1">Location</label>
                        </div>
                        <br>
                        <div class="form-outline">
                            <input type="text" name="username" id="form1" class="form-control" required/>
                            <label class="form-label" for="form1">username</label>
                        </div>
                        <br>
                        <div class="form-outline">
                            <input type="text" name="password" id="form1" class="form-control" required/>
                            <label class="form-label" for="form1">password</label>
                        </div>
                        <br>
                        
                        <div class="form-outline">
                            <input type="text" name="cpassword" id="form1" class="form-control" required />
                            <label class="form-label" for="form1">confirm password</label>
                         </div>
                        <br>
                        <div class="form-outline">
                            <select class="from-control" name="usertype" id="usertype" required>
                                <option value="deliveryguy">Delivery Guy</option>
                                <option value="customer">Customer</option>
                            </select>
                            <label class="form-label" for="form1">Who you are ?</label>
                        </div>
                        <br>
                <button type="submit" class="btn btn-dark container " >Signup</button>
        </form>
    </div>
</div>

